@import url("https://fonts.googleapis.com/css2?family-Poppins:wght@400;500;600&display-swap");
/*----- variavel css -----*/
:root {
  /*----- Cores -----*/
  --first-color: #F2A20C;
  --white-color: #E9EAEC;
  --dark-color: #272D40;
  --dark-color-lighten: #F2F5FF;
  --blue-color: cornflowerblue;
  --text-color: hsl(152%, 4%, 35%);
  /*----- fontes -----*/
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
}
/*----- base -----*/
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

h1, p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*---- navbar ----*/
#header__nav {
  display: flex;
  box-sizing: border-box;
  height: 85px;
  padding: 1rem;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  font: bold 2em 'Poppins', sans-serif;
  background-color: var(--blue-color);
  color: white;
}
.img__nav{
  width: 8em;
  height: 5em;
}
.titulo__promo{
  text-align: center;
  list-style: none;
  font-size: 29pt;
  font-weight: bold;
  margin-top: 40px;
  color: #3C6BC2;
}
.color-title{
  color: #3C6BC2;
}
#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  font-size: 1.1rem;
}
#btn-mobile{
  display: none;
}

@media (max-width: 1300px) {
  #menu, .btn__form {
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: rgb(161, 185, 230);
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #navbar.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;

    color: white;
    font-weight: bold;
  }
}
header li{
  list-style: none;
  padding: 10px;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  color: #fff;
  position: relative;
  z-index: 1;
}

header li::after{
  content: '';
  display: inline-block;
  width: 0;
  height: 10%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  z-index: -1;
  transition: width 0.5s ease-in-out;
}

header li:hover::after{
  width: 100%;
}
header li:hover{
  cursor: pointer;
}
.btn__form{
  padding: 10px 20px 10px 20px;
  border-radius: 50px;
  font: bold 13pt 'Roboto', sans-serif;
  color: white;
  background: none;
  border: solid white;
}
.btn__form1, .btn__form2:hover{
  cursor: pointer;
}
.categoria__menu{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30px;

  background-color: rgb(60, 107, 194);
  color: white;
}
.categoria__nav li{
  margin: 1px 40px 5px 40px;
  list-style: none;
}
.categoria__nav li:hover{
  cursor: pointer;
}
/*----- carro do ceu ----*/
#carro-do-ceu{
  padding-top: 20vh;
}

#carouselExampleIndicators{
  padding: auto;
  margin: auto;
  width: 70%;
  height: 40%;
}
#carouselExampleIndicators img{
  width: 1000px;
  height: 400px;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}

/* Services */
.service-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 5rem;
}

.service {
  border: 1px solid #ccc;
  padding: 1rem 1rem 2rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
}

.service .icon {
  color: var(--primary);
  font-size: 4rem;
}

.service h4 {
  margin-bottom: 0.3rem;
}

.service .text {
  display: flex;
  justify-content: center;
  text-justify: center;
  
  font-size: 1.5rem;
  color: #777;
}

/*----- drop down -----*/
.titulo__filtro{
  display: flex;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}
.container__filtro{
  padding-top: 50px;
}
.titulo__filtro button{
  background-color: cornflowerblue;
  border: none;
  margin-bottom: 160px;
}
/*----- produtos -----*/
.container-1 {
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.card-1 {
  width: 320px;
  height: 400px;
  background-color: var(--blue-color);
  border-radius: 1rem;
  padding: 4rem 2rem 0;
  color: var(--white-color);
  overflow-y: hidden;
}

.card__img-1 {
  position: absolute;
  width: 260px;
  filter: drop-shadow(5px 10px 15px rgba(8,9,13,.4));
}

.card__data-1 {
  transform: translateY(13.2rem);
  text-align: center;
}

.card__title-1 {
  font-size: var(--h1-font-size);
  color: var( --white-color);
  margin-bottom: .5rem;
}

.card__preci-1 {
  display: inline-block;
  font-size: var(--h2-font-size);
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.card__description-1 {
  font-size: var(--small-font-size);
  text-align: initial;
  margin-bottom: 1.25rem;
  opacity: 0;
}

.card__button-1 {
  display: block;
  width: max-content;
  padding: 1.125rem 2rem;
  background-color: var( --white-color);
  color: var(--blue-color);
  border-radius: .5rem;
  font-weight: 600;
  transition: .2s;
  opacity: 0;
}

.card__button-1:hover {
  box-shadow: 0 18px 40px -12px rgba(242,162,12,.35);
}

.card__img-1, 
.card__data-1, 
.card__title-1, 
.card__preci-1, 
.card__description-1 {
  transition: .5s;
}

/* Hover card effect */
.card-1:hover .card__img-1 {
  transform: translate(-1.5rem, -9.5rem) rotate(-20deg);
}

.card-1:hover .card__data-1 {
  transform: translateY(4.8rem);
}

.card-1:hover .card__title-1 {
  transform: translateX(-2.3rem);
  margin-bottom: 0;
}

.card-1:hover .card__preci-1 {
  transform: translateX(-6.8rem);
}

.card-1:hover .card__description-1, 
.card-1:hover .card__button-1 {
  transition-delay: .2s;
  opacity: 1;
}
/*----- footer -----*/
.footer{
  display: flex;
  position: relative;
  height: 100%;
  gap: 10vh;
  padding-top: 3vh;
  padding-bottom: 2vh;
  padding-left: 5vh;
  margin-top: 200px;

  background-color: cornflowerblue;
  color: white;
}
@media only screen and (max-width: 600px){
  .footer{
    flex-flow: column wrap;
  }
}

.titulo__footer__fontes, .titulo__footer__pessoas{
  font-weight: bold;
}

.footer li{
  list-style: none;
}
.footer__icons{
  display: inline-flex;
  padding-top: 10px;
  font-size: 20pt;
  gap: 18px;
}

.footer__icons i:hover{
  cursor: pointer;
  transform: translate(-.3rem, -.3rem) rotate(-20deg)

}

.titulo__copirait{
  display: block;
  text-align: center;
  margin-top: 10.5rem;
  font-size: 10pt;
}

.footer__subscribe{
  background-color: var(--first-color-lighten);
  padding: .75rem;
  display: flex;
  justify-content: space-between;
  border-radius: .5rem;
}

.footer__input{
  width: 70%;
  padding: 0 .5rem;
  background: none;
  color: black;
  border: none;
  outline: none;
}

.footer__button{
  padding: 0.6rem;

  background-color: cornflowerblue;
  color: white;
  border: none;
  border-radius: 7px;
  font-weight: bold;

}

.contato{
  border-radius: 10px;
  background-color: var(--dark-color-lighten);
}

/*----- scorll lateral -----*/
::-webkit-scrollbar{
  width: .8rem;
  background: var(--dark-color-lighten);
}
::-webkit-scrollbar-thumb{
  background: rgb(131, 174, 255);
  border-radius: .5rem;
}
/* carrinho */
.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}
.section-header {
  margin-top: 60px;
  margin-bottom: 40px;
  font-weight: bold;
  color: #333;
  text-align: center;
  font-size: 2.5em;
}
.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}
/*btn carrinho*/
.btn-danger {
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid cornflowerblue;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: .67em .67em;
  cursor: pointer;
}

.btn-header {
  margin: .5em 15% 2em 15%;
  color: white;
  border: 2px solid cornflowerblue;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 0;
  font-size: 1.5em;
  font-weight: lighter;
  padding-left: 2em;
  padding-right: 2em;
}

.btn-header:hover {
  background-color: rgba(255, 255, 255, .3);
}

.btn-play {
  display: block;
  margin: 0 auto;
  color: cornflowerblue;
  font-size: 4em;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 0;
  text-align: center;
}

.btn-primary1 {
  color: cornflowerblue;
  background-color: white;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: cornflowerblue;
}
/* produtos 2 */
.content-section{
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11vh;
}
@media only screen and (max-width: 600px){
  .content-section{
    display: flex;
    flex-flow: column wrap;
  }
}
.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  margin-bottom: 15px;
}

.shop-item-image {
  height: 20vh;
  width: 20vh;
  margin-bottom: 10px;

  border-radius: 19px;
  border: solid;
  border-color: rgb(255, 255, 255);
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}

.shop-item-price {
  flex-grow: 1;
  color: white;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 30vh;
  padding-top: 1.5%;
  padding-bottom: 2%;
  border-radius: 10px;
  box-sizing: border-box;

  background-color: cornflowerblue;
}
.shop-item-button{
  width: 10vh;
}





